body {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
}
.header {
  font-size: 25px;
  text-align: center;
}
.header__section {
  font-size: 18px;
}
.button {
  background-color: rgb(37, 125, 176);
  color: aliceblue;
  border-radius: 5px;
  min-height: 35px;
  border: none;
  text-align: center;
}
.input__container {
  display: flex;
  justify-content: space-between;
}

.task__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input__item {
  border-radius: 5px;
  min-height: 35px;
  min-width: 70%;
  border: 1px dotted gray;
}
.taskNew {
  border-radius: 5px;
  min-height: 35px;
  min-width: 250px;
  border-bottom: 1px;
}
.checkboxNew {
  width: 25px;
  border-radius: 3px;
}
.b-clear {
  background-color: rgb(199, 199, 199);
  color: gray;
  border-radius: 5px;
  min-height: 35px;
  border: none;
  text-align: center;
}
#noTask {
  text-align: center;
  color: gray;
}
.addTask {
  display: none;
}
